<div class="events-area">
	<p>Hi Template</p>
	<p>{{ body }}</p>
	<p>{{ someinfo }}</p>
	<ul class="events-list">	
	  {% for event in allevents %}
		<li class="event-item">
		  {{ event.title }}
		</li>
	  {% endfor %}	
	</ul>	
</div>

